<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bonn.Helper" version="1.1.0.3" targetFramework="net462" />
  <package id="cef.redist.x64" version="88.2.9" targetFramework="net462" />
  <package id="cef.redist.x86" version="88.2.9" targetFramework="net462" />
  <package id="CefSharp.Common" version="88.2.90" targetFramework="net462" />
  <package id="CefSharp.WinForms" version="88.2.90" targetFramework="net462" />
  <package id="ICSharpCode.TextEditor" version="3.2.1.6466" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
</packages>